name: "Restore Point Collections"
label: "{{ LABELS.RestorePointCollection }}"
table_name: "resources"
resource_type: "microsoft.compute/restorepointcollections"
properties:
  - "/id"
  - "/properties"
cypher: |
    UNWIND $batch AS row
    MERGE (obj:{{ LABELS.ArmResource }} {id: row.id})
    SET obj:{{ LABELS.RestorePointCollection }}

    MERGE (vm:{{ LABELS.ArmResource }} {id: row.properties.source.id})
    MERGE (vm)-[:{{ REL.HAS_RESTOREPOINT }}]->(obj)